<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>{{ ad.title }}</h1>
    <p>Пользователь: {{ ad.user.username }}</p>
    <img src="/media/{{ ad.image }}" alt="{{ ad.image }}">
    <p>Описание: {{ ad.description }}</p>
    <p>Категория: {{ ad.category }}</p>
    <p>Состояние: {{ ad.condition }}</p>
    <p>Дата создания: {{ ad.created_at }}</p>

    {% if user.id == ad.user_id %}
        <a href="edit/">Изменить</a>
        <form action="delete/" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Точно удалить?')">Удалить объявление</button>
        </form>
    {% else %}
        <a href="exchange/">Обменяться</a>
    {% endif %}
</body>
</html>