<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>Главная страница</h1>
    {% if user.is_authenticated %}
        <h2>Пользователь {{ user.username }}</h2>
        <a href="{% url 'new_ad' %}">Создать объявление</a>

        {% if ad_success %}
            <h2>Объявление успешно загружено</h2>
        {% endif %}

        <h1>Мои объявления</h1>
        {% if user.my_ads.count == 0 %}
            <p>У вас нет объявлений</p>
        {% else %}
            {% for ad in user.my_ads.all %}
                <a href="/ad?id={{ ad.id }}">
                    <h3>{{ ad.title }}</h3>
                    <p>{{ ad.description }}</p>
                </a>
            {% endfor %}
        {% endif %}
    {% else %}
        <a href="{% url 'auth' %}">Войти</a>
    {% endif %}
</body>
</html>