<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>Главная страница</h1>
    {% if message %}
        <div style="background-color: {{ color }};">
            <h2>{{ message }}</h2>
        </div>
    {% endif %}

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query" placeholder="Поиск" required>
        <button type="submit">Поиск</button>
    </form>

    {% if user.is_authenticated %}
        <h2>Пользователь {{ user.username }}</h2>
        <a href="{% url 'new_ad' %}">Создать объявление</a>

        <h1>Мои объявления</h1>
        {% if user.my_ads.count == 0 %}
            <p>У вас нет объявлений</p>
        {% else %}
            {% for ad in user.my_ads.all %}
                <a href="/ad/{{ ad.id }}">
                    <h3>{{ ad.title }}</h3>
                    <p>{{ ad.description }}</p>
                </a>
            {% endfor %}
        {% endif %}
    {% else %}
        <a href="{% url 'auth' %}">Войти</a>
    {% endif %}
</body>
</html>