<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>Главная страница</h1>
    {% if message %}
        <div style="background-color: {{ color }};">
            <h2>{{ message }}</h2>
        </div>
    {% endif %}

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query" placeholder="Поиск" required>
        <button type="submit">Поиск</button>
    </form>

    {% if user.is_authenticated %}
        <h2>Пользователь {{ user.username }}</h2>
        <a href="{% url 'new_ad' %}">Создать объявление</a>

        <h1>Мои объявления</h1>
        {% if not user_ads %}
            <p>У вас нет объявлений</p>
        {% else %}
            {% for ad in user_ads %}
                <a href="/ad/{{ ad.id }}">
                    <h3>{{ ad.title }}</h3>
                    <p>{{ ad.description }}</p>
                </a>
            {% endfor %}
        {% endif %}

        {% if income_proposals %}
            <h1>Входящие запросы на обмен</h1>
            {% for proposal in income_proposals %}
                <a href="/ad/{{ proposal.ad_sender.id }}">
                    <h3>{{ proposal.ad_sender.title }}</h3>
                    <p>{{ proposal.ad_sender.description }}</p>
                </a>
                <a href="/ad/{{ proposal.ad_receiver.id }}">
                    <h3>{{ proposal.ad_receiver.title }}</h3>
                    <p>{{ proposal.ad_receiver.description }}</p>
                </a>
                <a href="exchange/{{ proposal.id }}">Перейти к обмену</a>
            {% endfor %}
        {% endif %}

        {% if outcome_proposals %}
            <h1>Исходящие запросы на обмен</h1>
            {% for proposal in outcome_proposals %}
                <a href="/ad/{{ proposal.ad_sender.id }}">
                    <h3>{{ proposal.ad_sender.title }}</h3>
                    <p>{{ proposal.ad_sender.description }}</p>
                </a>
                <a href="/ad/{{ proposal.ad_receiver.id }}">
                    <h3>{{ proposal.ad_receiver.title }}</h3>
                    <p>{{ proposal.ad_receiver.description }}</p>
                </a>
                <a href="exchange/{{ proposal.id }}">Перейти к обмену</a>
            {% endfor %}
        {% endif %}
    {% else %}
        <a href="{% url 'auth' %}">Войти</a>
    {% endif %}
</body>
</html>