<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="{% static "css/search.css" %}" rel="stylesheet">
</head>
<body>
    <h1>Поиск</h1>

    <form method="get">
        {{ filter.form.as_p }}
    <button type="submit">Применить</button>
    </form>

    <hr>

    {% for ad in ads %}
        <div class="ad">
            <img class="ad-image" src="/media/{{ ad.image }}" alt="{{ ad.image }}">
            <p></p>
            <a href="/ad/{{ ad.id }}">{{ ad.title }}</a>
            <p class="ad-user">Владелец: {{ ad.user.username }}</p>
            <p>{{ ad.description }}</p>
            <p class="ad-category">{{ ad.category }}</p>
            <p class="ad-condition">{{ ad.condition }}</p>
            <p class="ad-datetime">{{ ad.created_at }}</p>
        </div>
    {% empty %}
        <p>Нет объявлений</p>
    {% endfor %}

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">← Назад</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">Вперёд →</a>
        {% endif %}
    </div>
</body>
</html>